@charset "UTF-8";
.it-warning {
  color: orangered;
  background-color: lightyellow;
  font-weight: bold;
  /*border: double 1px;*/
  /*font-size: smaller;*/ }

.it-error {
  color: red;
  font-weight: bold;
  /*font-size: smaller;*/ }

.it-hidden {
  display: none; }

.it-disable {
  pointer-events: none;
  opacity: 0.4; }

.it-mark {
  background-color: lightpink; }

/* вырезает картинку */
.it-crop {
  overflow: hidden;
  /*object-fit: none;*/
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */ }

.it-crop img {
  height: 100%; }

.it-crop img {
  height: 100%; }

.it-noborder {
  border: 0;
  /*border-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;*/ }

.it-wrap {
  white-space: normal; }

.it-break {
  /*white-space: unset !important;*/
  word-break: break-all; }

.it-nowrap {
  white-space: nowrap; }

.it-table {
  display: table; }

.it-row {
  display: table-row; }

.it-cell {
  display: table-cell; }

.it-clip {
  overflow: hidden; }

/*обрезаем контент, выходящий за пределы div*/
/*.visible: { overflow: 'visible', },*/
.it-scroll {
  overflow: scroll; }

.it-fixed {
  position: fixed; }

.it-fixed_clear {
  clear: both; }

.it-flex {
  display: flex; }

.it-inline {
  display: inline-block; }

/*https://learn.javascript.ru/display*/
.it-center {
  text-align: center;
  margin: auto; }

.it-left {
  float: left;
  display: block;
  margin-left: 2px; }

.it-right {
  float: right;
  display: block;
  margin-right: 2px; }

.it-text-right {
  text-align: right;
  margin-right: 5px; }

/* Выставляем цвета для placeholders */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c3c3c3;
  font-size: x-small; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #c3c3c3;
  font-size: x-small; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #c3c3c3;
  font-size: x-small; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #c3c3c3;
  font-size: x-small; }

.it-noborder .webix_list_item {
  border-bottom: 0; }

/* remove filter top margin*/
.webix_ss_filter select, .webix_ss_filter input {
  margin-top: 4px; }

/*.webix_hcell.webix_ss_filter:before {
  position: absolute;
  margin-left: 5px;
  font-family: FontAwesome;
  font-size: 20px;
  content: "\f0b0";
  font-family: FontAwesome;
  color: #666; }*/

/*.webix_hcell.webix_ss_filter input,
.webix_hcell.webix_ss_filter select {
  padding-left: 22px; }*/

.webix_template {
  padding-top: 3px;
  padding-bottom: 3px; }

/*.webix_view > .webix_disabled {
    height: 0;
}*/
.webix_el_textarea textarea {
  height: 92%; }

/*.webix_form .webix_control { // раздвигает контролы, но в итоге не хватает форме места
    padding-top: 15px;
}*/
blockquote {
  border: dotted #666 1px;
  border-left: solid #ff5a00 5px;
  margin: 10px 10px;
  padding: 15px;
  color: #333;
  font-style: italic;
  font-size: 14px;
  background: #fcfcfc; }

/*
    --------------------------------------------------
    import from dhtml messages 
    --------------------------------------------------
*/
.ithtml_message_area {
  position: fixed;
  right: 5px;
  width: 250px;
  z-index: 1000; }

.ithtml-info {
  min-width: 120px;
  min-height: 20px;
  padding: 4px 4px 4px 20px;
  font-family: Tahoma;
  z-index: 10000;
  margin: 5px;
  margin-bottom: 10px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.ithtml-info.hidden {
  height: 0px;
  min-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-width: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden; }

.ithtml_modal_box {
  overflow: hidden;
  display: inline-block;
  min-width: 300px;
  width: 500px;
  text-align: center;
  position: fixed;
  background-color: #fff;
  /* background:-webkit-linear-gradient(top, #ffffff 1%, #d0d0d0 99%); */
  /* background:-moz-linear-gradient(top, #ffffff 1%, #d0d0d0 99%); */
  /*box-shadow: 0px 0px 14px #888;*/
  box-shadow: 0px 20px 30px #555;
  font-family: Tahoma;
  z-index: 20000;
  border-radius: 6px;
  border: 1px solid #ffffff; }

.ithtml_popup_title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 0px;
  /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAMAAAAIaGBFAAAAhFBMVEVwcHBubm5sbGxqampoaGhmZmZlZWVjY2NhYWFfX19dXV1bW1taWlpYWFhWVlZUVFRSUlJRUVFPT09NTU1LS0tJSUlHR0dGRkZERERCQkJAQEA+Pj49PT09PT0+Pj5AQEBBQUFDQ0NERERGRkZHR0dJSUlKSkpMTExMTEw5OTk5OTk5OTkny8YEAAAAQklEQVQImQXBCRJCAAAAwKVSQqdyjSPXNP7/QLsIhA6OTiJnF7GrRCpzc/fw9PKW+/gqlCq1RqvTG/yMJrPF6m/bAVEhAxxnHG0oAAAAAElFTkSuQmCC);*/
  /* background-image: -webkit-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 97%, #393939 97%); */
  /* background-image: -moz-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 97%, #393939 97%); */ }

.ithtml-info, .ithtml_popup_button, .ithtml_button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  cursor: pointer; }

.ithtml_popup_text {
  overflow: hidden; }

.ithtml_popup_controls {
  border-radius: 6px;
  padding: 20px; }

.ithtml_popup_button, .ithtml_button {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 6px;
  /*color:#FFF;*/
  color: aqua; }

.ithtml_popup_button {
  min-width: 120px; }

div.dhx_modal_cover {
  background-color: #000;
  cursor: default;
  filter: alpha(opacity=20);
  opacity: 0.2;
  position: fixed;
  z-index: 19999;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: none;
  zoom: 1; }

.ithtml-info img, .ithtml_modal_box img {
  float: left;
  margin-right: 20px; }

.ithtml-alert-error .ithtml_popup_title, .ithtml-confirm-error .ithtml_popup_title {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAIAAAArRUU2AAAATklEQVR4nIWLuw2AMBBDjVuQiBT2oWbRDATrnB0KQOJoqPzRe3BrHI6dcBASYREKovtK6/6DsDOX+stN+3H1YX9ciRgnYq5EWYhS2dftBIuLT4JyIrPCAAAAAElFTkSuQmCC); }

.ithtml-alert-error, .ithtml-confirm-error {
  border: 1px solid #ff0000; }

/*Skin section*/
.ithtml_button, .ithtml_popup_button {
  box-shadow: 0px 0px 4px #888;
  /* border:1px solid #838383; */ }

.ithtml_button input, .ithtml_popup_button div {
  border: 1px solid #FFF;
  /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAMAAADaS4T1AAAAYFBMVEVwcHBtbW1ra2toaGhmZmZjY2NhYWFeXl5cXFxaWlpXV1dVVVVSUlJQUFBNTU1LS0tJSUlGRkZERERBQUE/Pz88PDw9PT0+Pj5AQEBCQkJDQ0NFRUVHR0dISEhKSkpMTEzqthaMAAAAMklEQVQImQXBhQ2AMAAAsOIMlwWH/8+kRSKVyRVKlVrQaHV6g9FktlhFm93hdLk9Xt8PIfgBvdUqyskAAAAASUVORK5CYII=);*/
  /* background-image: -webkit-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 99%); */
  /* background-image: -moz-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 99%); */
  border-radius: 6px;
  font-size: 15px;
  font-weight: normal;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /*color:#fff;*/
  color: WindowText;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  height: 28px;
  line-height: 28px; }

.ithtml_button input:focus, .ithtml_button input:active, .ithtml_popup_button div:active, .ithtml_popup_button div:focus {
  /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAMAAADaS4T1AAAAXVBMVEVwcHBubm5tbW1sbGxra2tpaWloaGhnZ2dmZmZlZWVjY2NiYmJhYWFgYGBfX19dXV1cXFxbW1taWlpZWVlXV1dWVlZVVVVUVFRTU1NRUVFQUFBPT09OTk5NTU1LS0tT9SY0AAAAMUlEQVQImQXBhQGAMAAAIGxnx2z9/00BiVQmVyhVakGj1ekNRpPZYhVtdofT5fZ4fT8hpwG05JjexgAAAABJRU5ErkJggg==);*/
  /* background-image: -webkit-linear-gradient(top, #707070 1%, #4c4c4c 99%); */
  /* background-image: -moz-linear-gradient(top, #707070 1%, #4c4c4c 99%);	 */ }

.ithtml_popup_title {
  /*color:#fff;*/
  color: WindowText;
  text-shadow: 1px 1px #000;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }

.ithtml_popup_text {
  margin: 15px 15px 5px 15px;
  font-size: 14px;
  color: #000;
  min-height: 30px;
  border-radius: 6px; }

.ithtml-info, .ithtml-error, .ithtml-warning {
  font-size: 14px;
  color: #000;
  box-shadow: 0px 0px 10px #888;
  padding: 0px;
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #ffffff; }

.ithtml-info div {
  padding: 5px 10px 5px 10px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #B8B8B8; }

.ithtml-error {
  background-color: #d81b1b;
  border: 1px solid #ff3c3c;
  box-shadow: 0px 20px 30px #555; }

.ithtml-error div {
  background-color: #d81b1b;
  /*border:1px solid #940000;*/
  color: #FFF; }

.ithtml-warning {
  background-color: lightyellow;
  /*border: 1px solid #ff3c3c;*/
  border: 1px solid yellow;
  box-shadow: 0px 20px 30px #555; }

.ithtml-warning div {
  background-color: lightyellow;
  /*border:1px solid #940000;*/
  color: darkblue; }
